<html>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body" >
        <a href="#/idea/{{ideaInput._id}}">
        <h2 style="color:#bf0b25">
          <ins>
          {{ideaInput.title}}
          </ins>
        </h2>
        </a>
        <h6 size="90%">Created by <b style="color:black">{{collaborator.name}} {{collaborator.lastname}}</b> at {{ideaInput.creationDate}}</h6>
        <h4> {{ideaInput.content}} </h4>
        <br>
        <p>Tags {{ideaInput.tags}}</p>
        <br>
          <img src="assets/images/me_gusta.png" width="20px" height="20px" align="left"/><h6>:{{ideaInput.likes}}</h6>
      </div>
    </div>
  </div>
</div>
</html>
