<html>
<style>
  .botonImagen{
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    background-position: left;
  }


</style>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h2> {{ideaInput.title}} </h2>
        <h6 size="90%">Created by {{collaborator.name}} {{collaborator.lastname}}</h6>
        <p> {{ideaInput.content}} </p>
        <br>
        <p>Tags {{ideaInput.tags}}</p>
        <br>
        <a href="#/idea/{{ideaInput._id}}">
          <button align="bottom">Commentaries </button>
        </a>
        <input type="image" src="assets/images/me_gusta.jpg" width="50px" height="50px" class="botonImagen" value="me gusta" style=""/>
      </div>
    </div>
  </div>
</div>
</html>
