<html>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          {{subtitle}}
        </div>
      </div>
    </div>
  </div>
<div class="row">
 <div class="col-12">
   <div class="card">
     <div class="card-body">
       <h2>Titulo de mi idea</h2>
       <h6 size="90%">Creado por Diego Amigo - 00:29 16-01-2019</h6>
       <h4>Descripcion de la idea de Diego</h4>
       <p> Tags: Robótica</p>
       <a href="https://www.google.cl/">
          <button>Comentarios</button>
       </a>
     </div>
   </div>
 </div>


</div>
</html>
