<div class="col-md-6">
  <h2 class="text-center">Add Idea</h2>
  <form>
    <div class="form-group">
      <label for="_id">Id:</label>
      <input [(ngModel)]="idea._id" placeholder="Id" name="_id" class="form-control" id="_id">
    </div>

    <div class="form-group">
      <label for="title">Title:</label>
      <input [(ngModel)]="idea.title" placeholder="Title" name="title" class="form-control" id="title">
    </div>

    <div class="form-group">
      <label for="content">Content:</label>
      <input [(ngModel)]="idea.content" placeholder="Content" name="content" class="form-control" id="content">
    </div>

    <div class="form-group">
    <label for="author">Author:</label>
    <input [(ngModel)]="idea.author" placeholder="Author" name="author" class="form-control" id="author">
    </div>

    <div class="form-group">
      <label for="tags">Tags:</label>
      <input [(ngModel)]="idea.tags" placeholder="Tags" name="tags" class="form-control" id="tags">
    </div>

    <button class="btn btn-success" (click)="createIdea()">Create</button>
  </form>
</div>
