<html>
    <div class="card" style="
    font-weight: bold;
    border: 1px solid #bf0b25;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: inset 0px 0px 15px #bf0b25;
    -moz-box-shadow: inset 0px 0px 5px #bf0b25;
    -webkit-box-shadow: inset 0px 0px 5px #ff8e95;
    text-shadow: 1px 1px 1px #fff;">
      <div class="card-body" >
          <h2 style="color:#bf0b25">
            <ins>
              {{desafioInput.title}}
            </ins>
          </h2>
        <h6 size="90%">Created by <b style="color:black">{{collaborator.name}} {{collaborator.lastname}}</b> at {{desafioInput.creationDate}}</h6>
        <h4> {{desafioInput.content}} </h4>
        <br>
        <h6><b>End Date: {{desafioInput.endDate}}</b></h6>
        <br>
        <p>Tags: {{desafioInput.tags}}</p>
      </div>
    </div>
</html>
