<html>
<h1>Crear Desafío</h1>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <form (ngSubmit)="save()" #desafioForm="ngForm">
            <div>
              <input type="text" name="title" [(ngModel)]="desafio.title" placeholder="Título del desafío">
            </div>
            <div>
              <input type="text" name="content" [(ngModel)]="desafio.content" placeholder="Cuerpo del desafío">
            </div>
            <div>
              <input type="text" name="tags" [(ngModel)]="desafio.tags" placeholder="Etiquetas">
            </div>
            <div>
              <input type="text" name="author" [(ngModel)]="desafio.author" placeholder="Autor">
            </div>
            <div>
              <input type="text" name="endDate" [(ngModel)]="desafio.endDate" placeholder="Fecha de termino">
            </div>
            <button type="submit">
              Agregar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

<h1>Buscar Desafío por título</h1>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <form (ngSubmit)="searchByTitle(titleSearch.value)" #titleSearch="ngForm">
            <div>
              <input type="text" name="title" ngModel placeholder="Título">
            </div>
            <button type="submit" value="submit">
              Buscar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

<h1>Buscar Desafío por etiqueta</h1>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <form (ngSubmit)="searchByTag(tagSearch.value)" #tagSearch="ngForm">
            <div>
              <input type="text" name="tag" ngModel placeholder="Etiqueta">
            </div>
            <button type="submit" value="submit">
              Buscar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

<h1>Listado de desafíos</h1>
<div *ngFor="let desafio of desafios">
  <app-desafio-body [desafioInput]="desafio"></app-desafio-body>
<!--   <h2>{{ idea.title }}</h2>
  <p>{{ idea.content }}</p> -->
</div>
</html>
