
<div class="card" style="
    font-weight: bold;
    border: 1px solid #bf0b25;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: inset 0px 0px 15px #bf0b25;
    -moz-box-shadow: inset 0px 0px 5px #bf0b25;
    -webkit-box-shadow: inset 0px 0px 5px #ff8e95;
    text-shadow: 1px 1px 1px #fff;">
  <div class="card-body">
    <h6 size="70%" >Creado por <b style="color:#000000">{{collaborator.name}} {{collaborator.lastname}}</b> - {{commentInput.commentDate}}</h6>
    <h5>{{commentInput.body}}</h5>
  </div>
</div>
